
@font-face {
	font-family: 'MyriadArabic';
	src: url('fonts/MyriadArabic-Regular.eot');
	src: local('☺'), url('fonts/MyriadArabic-Regular.woff') format('woff'), 
		 url('fonts/MyriadArabic-Regular.ttf') format('truetype'), 
		 url('fonts/MyriadArabic-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}